@charset "UTF-8";
.dale-btn:before, .content-wrapper.relatorio .book-page .citacao:before, .content-wrapper #modulos .modulo-box .inner-wrapper .box-title:after {
  content: "";
  position: absolute;
  display: block; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: block; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none !important; }

.cls-1, .cls-3 {
  fill: none; }

.cls-2 {
  clip-path: url(#clip-path); }

.cls-3 {
  stroke: currentColor;
  stroke-miterlimit: 10; }

.red-bg {
  background-color: #E01A27; }

.yellow-bg {
  background-color: #FAFF10; }

.green-bg {
  background-color: #6AD325; }

.blue-bg {
  background-color: #0AA5FA; }

.dark-bg {
  background-color: #484849; }

.light-bg {
  background-color: #D9E6E9; }

.white-text {
  color: white; }

.red-text {
  color: #E01A27; }

.yellow-text {
  color: #FAFF10; }

.green-text {
  color: #6AD325; }

.blue-text {
  color: #0AA5FA; }

body {
  margin: 0;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 16px;
  overflow-x: hidden; }

.dale-btn {
  position: relative;
  cursor: pointer;
  display: inline-flex; }
  .dale-btn:before {
    background-color: #097596;
    width: 100%;
    height: 100%;
    border: 2px solid #2D2D2D;
    top: 0;
    left: 0; }
  .dale-btn:hover .btn-element {
    top: -6px;
    left: -6px; }
  .dale-btn .btn-element {
    font-family: "Work Sans";
    font-weight: 500;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 18px;
    background-color: #0AA5FA;
    color: white;
    padding: 8px 40px;
    border: 2px solid #2D2D2D;
    position: relative;
    left: 0;
    top: 0;
    transition: all ease .3s; }

.content-wrapper {
  background-color: #484849; }
  .content-wrapper .main-header {
    background-color: #484849;
    border-bottom: 1px solid white;
    height: 10vh;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100%;
    padding: 15px 0; }
    @media (min-width: 319px) and (max-width: 767px) {
      .content-wrapper .main-header {
        height: auto; } }
    .content-wrapper .main-header .container {
      display: flex;
      align-items: center;
      height: 100%; }
      .content-wrapper .main-header .container > a {
        width: 15%; }
      .content-wrapper .main-header .container > div {
        width: 85%; }
    .content-wrapper .main-header .logo-icon {
      height: 60px; }
      @media (max-width: 1366px) {
        .content-wrapper .main-header .logo-icon {
          height: 50px; } }
    .content-wrapper .main-header .large-menu-classname {
      display: flex;
      justify-content: flex-end;
      width: 100%; }
      .content-wrapper .main-header .large-menu-classname ul {
        list-style: none;
        margin-bottom: 0;
        display: flex; }
        .content-wrapper .main-header .large-menu-classname ul li {
          margin: 0 10px; }
          .content-wrapper .main-header .large-menu-classname ul li:last-of-type {
            margin-right: 0; }
          .content-wrapper .main-header .large-menu-classname ul li a {
            color: white;
            text-transform: uppercase;
            font-size: 16px; }
            .content-wrapper .main-header .large-menu-classname ul li a:hover {
              text-decoration: none; }
          .content-wrapper .main-header .large-menu-classname ul li .submenu {
            display: none; }
  .content-wrapper .main-footer {
    background-color: #0AA5FA;
    height: 32vh;
    display: flex;
    align-items: center;
    min-height: 280px; }
    @media (min-width: 319px) and (max-width: 767px) {
      .content-wrapper .main-footer {
        height: auto; } }
    @media (min-width: 319px) and (max-width: 767px) {
      .content-wrapper .main-footer .col-md-3 {
        text-align: center; } }
    .content-wrapper .main-footer .logo-footer {
      width: 165px;
      margin: 0 auto; }
    .content-wrapper .main-footer .social-wrapper {
      display: flex;
      flex-direction: column; }
      .content-wrapper .main-footer .social-wrapper .social-dupla {
        display: flex;
        width: 100%; }
        .content-wrapper .main-footer .social-wrapper .social-dupla .social-link {
          width: 50%; }
          .content-wrapper .main-footer .social-wrapper .social-dupla .social-link img {
            width: 75px; }
    .content-wrapper .main-footer .instituicao-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .content-wrapper .main-footer .instituicao-wrapper .faac {
        width: 180px; }
      .content-wrapper .main-footer .instituicao-wrapper .unesp {
        width: 200px; }
    .content-wrapper .main-footer .dev-container p {
      margin-bottom: 15px; }
    .content-wrapper .main-footer .dev-container .dev-box {
      display: flex;
      align-items: center;
      border: 2px solid #484849;
      padding: 5px 20px;
      margin-left: 4px;
      font-size: 22px;
      color: #484849;
      transition: all 0.8s ease-in-out; }
      .content-wrapper .main-footer .dev-container .dev-box:hover, .content-wrapper .main-footer .dev-container .dev-box:focus, .content-wrapper .main-footer .dev-container .dev-box:active {
        text-decoration: none;
        background-color: white;
        color: #0AA5FA;
        border-color: white; }
      .content-wrapper .main-footer .dev-container .dev-box .fa-github {
        transition: transform 0.8s ease-in-out;
        font-size: 36px;
        margin-right: 8px; }
      .content-wrapper .main-footer .dev-container .dev-box span {
        display: inline-block; }
      .content-wrapper .main-footer .dev-container .dev-box:hover a {
        color: #fff; }
      .content-wrapper .main-footer .dev-container .dev-box:hover .fa-github {
        transform: rotateY(360deg); }
  .content-wrapper.relatorio {
    background-color: #484849; }
    .content-wrapper.relatorio .main-container {
      height: 85vh;
      display: flex; }
    .content-wrapper.relatorio .book-page {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 30px 40px;
      overflow-y: auto; }
      .content-wrapper.relatorio .book-page.capa {
        justify-content: center; }
      .content-wrapper.relatorio .book-page.left p:not(.subtitle) {
        padding-right: 7rem;
        margin-bottom: 0; }
      .content-wrapper.relatorio .book-page.left p.title {
        padding-right: 0; }
      .content-wrapper.relatorio .book-page.right p:not(.subtitle) {
        padding-left: 7rem;
        margin-bottom: 0; }
      .content-wrapper.relatorio .book-page.right p.title {
        padding-left: 0; }
      .content-wrapper.relatorio .book-page.vertical-aligned {
        justify-content: center; }
      .content-wrapper.relatorio .book-page .firulinha {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        color: inherit; }
      .content-wrapper.relatorio .book-page .citacao {
        font-size: 20px;
        position: relative;
        padding-left: 7rem;
        padding-right: 12rem;
        color: white; }
        .content-wrapper.relatorio .book-page .citacao:before {
          content: '“';
          top: -70px;
          left: 6.5rem;
          font-size: 100px; }
        .content-wrapper.relatorio .book-page .citacao + p {
          color: white; }
      .content-wrapper.relatorio .book-page .title {
        font-size: 3rem;
        display: flex;
        padding-left: 0;
        padding-right: 0;
        align-items: flex-end;
        color: inherit;
        line-height: 4rem;
        max-width: 90%;
        font-weight: 700; }
        .content-wrapper.relatorio .book-page .title span {
          font-size: 30rem;
          line-height: 22rem;
          font-weight: 500; }
      .content-wrapper.relatorio .book-page p {
        width: 100%;
        color: #484849; }
    .content-wrapper.relatorio .react-page-flip__book {
      width: 100% !important;
      height: 100% !important; }
      .content-wrapper.relatorio .react-page-flip__book .react-page-flip__book-wrapper-page-side {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white; }
  .content-wrapper.criador .main-container {
    display: block; }
    .content-wrapper.criador .main-container #goku h2 {
      margin: 0;
      color: white; }
  .content-wrapper .main-container {
    display: inline-block; }
    .content-wrapper .main-container p {
      color: white;
      font-weight: 400; }
    .content-wrapper .main-container .btn-wrapper {
      display: flex;
      justify-content: center; }
  .content-wrapper #slider {
    height: 78vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center; }
    .content-wrapper #slider video {
      position: relative;
      width: calc(100% + 30px);
      height: auto;
      left: -15px; }
  .content-wrapper #descricao {
    padding: 60px 0; }
  .content-wrapper #dale {
    padding: 30px 0 60px; }
    .content-wrapper #dale h2 {
      color: #484849;
      font-size: 8rem; }
      .content-wrapper #dale h2 span {
        color: #E01A27;
        font-size: 3.5rem; }
        .content-wrapper #dale h2 span span {
          color: #484849;
          margin: 0 5px; }
    .content-wrapper #dale p {
      color: #484849;
      font-weight: 500;
      letter-spacing: -0.5px; }
      .content-wrapper #dale p span {
        color: #0AA5FA; }
  .content-wrapper #descubra .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    flex-direction: column; }
  .content-wrapper #descubra .section-title {
    font-size: 28px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    line-height: 26px;
    font-weight: 400; }
    .content-wrapper #descubra .section-title span {
      font-size: 14px;
      display: block; }
  .content-wrapper #descubra img {
    height: 150px;
    margin-bottom: 15px; }
  .content-wrapper #descubra p {
    min-height: 90px; }
  .content-wrapper #modulos {
    margin-bottom: 30px; }
    .content-wrapper #modulos .modulo-box {
      height: 430px; }
      .content-wrapper #modulos .modulo-box:hover#s7bl .inner-wrapper {
        background-color: #662D37; }
        .content-wrapper #modulos .modulo-box:hover#s7bl .inner-wrapper .box-title {
          color: #E01A27; }
          .content-wrapper #modulos .modulo-box:hover#s7bl .inner-wrapper .box-title:after {
            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587308/7bl_banner_cor.png); }
      .content-wrapper #modulos .modulo-box:hover#h2o2h .inner-wrapper {
        background-color: #6D845E; }
        .content-wrapper #modulos .modulo-box:hover#h2o2h .inner-wrapper .box-title {
          color: #6AD325; }
          .content-wrapper #modulos .modulo-box:hover#h2o2h .inner-wrapper .box-title:after {
            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587081/h202h_banner_cor.png); }
      .content-wrapper #modulos .modulo-box:hover#b2b .inner-wrapper {
        background-color: #898227; }
        .content-wrapper #modulos .modulo-box:hover#b2b .inner-wrapper .box-title {
          color: #FAFF10; }
          .content-wrapper #modulos .modulo-box:hover#b2b .inner-wrapper .box-title:after {
            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587307/b2b_banner_cor.png); }
      .content-wrapper #modulos .modulo-box:hover#brows .inner-wrapper {
        background-color: #326875; }
        .content-wrapper #modulos .modulo-box:hover#brows .inner-wrapper .box-title {
          color: #0AA5FA; }
          .content-wrapper #modulos .modulo-box:hover#brows .inner-wrapper .box-title:after {
            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587133/brows_banner_cor.png); }
      .content-wrapper #modulos .modulo-box:hover .inner-wrapper .box-desc {
        opacity: 1; }
      .content-wrapper #modulos .modulo-box#s7bl .inner-wrapper {
        background-color: #F4A4AB; }
        .content-wrapper #modulos .modulo-box#s7bl .inner-wrapper .box-title {
          width: 90px;
          height: 60px; }
          .content-wrapper #modulos .modulo-box#s7bl .inner-wrapper .box-title:after {
            width: 90px;
            height: 60px;
            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587307/7bl_banner_cinza.png); }
      .content-wrapper #modulos .modulo-box#h2o2h .inner-wrapper {
        background-color: #C9F9AA; }
        .content-wrapper #modulos .modulo-box#h2o2h .inner-wrapper .box-title {
          width: 160px;
          height: 55px; }
          .content-wrapper #modulos .modulo-box#h2o2h .inner-wrapper .box-title:after {
            width: 160px;
            height: 55px;
            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542586926/h202h_banner_cinza.png); }
      .content-wrapper #modulos .modulo-box#b2b .inner-wrapper {
        background-color: #E2D571; }
        .content-wrapper #modulos .modulo-box#b2b .inner-wrapper .box-title {
          width: 90px;
          height: 54px; }
          .content-wrapper #modulos .modulo-box#b2b .inner-wrapper .box-title:after {
            width: 90px;
            height: 54px;
            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587308/b2b_banner_cinza.png); }
      .content-wrapper #modulos .modulo-box#brows .inner-wrapper {
        background-color: #C1E6F4; }
        .content-wrapper #modulos .modulo-box#brows .inner-wrapper .box-title {
          width: 205px;
          height: 45px; }
          .content-wrapper #modulos .modulo-box#brows .inner-wrapper .box-title:after {
            width: 215px;
            height: 45px;
            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542585710/brows_banner_cinza.png); }
      .content-wrapper #modulos .modulo-box .inner-wrapper {
        height: 100%;
        padding: 10px 15px;
        position: relative;
        transition: all ease 0.4s;
        overflow: hidden; }
        .content-wrapper #modulos .modulo-box .inner-wrapper .img-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          left: -100px;
          z-index: 0; }
          .content-wrapper #modulos .modulo-box .inner-wrapper .img-wrapper img {
            transform: rotate(-45deg);
            width: 420px; }
        .content-wrapper #modulos .modulo-box .inner-wrapper .box-title {
          position: absolute;
          bottom: 10px;
          right: 15px;
          width: 130px;
          height: 80px; }
          .content-wrapper #modulos .modulo-box .inner-wrapper .box-title:after {
            width: 130px;
            height: 70px;
            top: 0;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right; }
          .content-wrapper #modulos .modulo-box .inner-wrapper .box-title p {
            display: none; }
        .content-wrapper #modulos .modulo-box .inner-wrapper .box-desc {
          font-family: "Work Sans";
          color: white;
          width: 45%;
          opacity: 0;
          font-weight: 300; }
  .content-wrapper.criador #goku {
    padding: 60px 0 160px; }
    .content-wrapper.criador #goku h2 {
      font-size: 7rem; }
  .content-wrapper.criador #about .criador-pic {
    border: 3px solid #FAFF10;
    padding: 10px;
    position: relative;
    top: -12rem; }
    .content-wrapper.criador #about .criador-pic img {
      width: 100%; }
  .content-wrapper.criador #about .criador-info {
    padding: 75px 0 75px 150px; }
  .content-wrapper.inner-modulo-page {
    overflow: hidden; }
    .content-wrapper.inner-modulo-page .modulo-banner {
      width: 100vw;
      height: 40vh;
      display: flex;
      align-items: center; }
      .content-wrapper.inner-modulo-page .modulo-banner .modulo-modelo {
        position: absolute;
        transform: rotate(15deg);
        max-width: 165rem;
        right: -25rem;
        bottom: -20rem; }
        @media (max-width: 1366px) {
          .content-wrapper.inner-modulo-page .modulo-banner .modulo-modelo {
            max-width: 138rem;
            right: -22rem;
            bottom: -14rem; } }
    .content-wrapper.inner-modulo-page .modulo-infos {
      width: 100vw;
      padding: 40px 0 60px; }
      .content-wrapper.inner-modulo-page .modulo-infos .destaque-wrapper {
        margin-bottom: 50rem; }
        .content-wrapper.inner-modulo-page .modulo-infos .destaque-wrapper .frase-destaque {
          font-size: 3rem;
          max-width: 250px; }
      .content-wrapper.inner-modulo-page .modulo-infos .detalhes-wrapper .top-detalhes {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 80px; }
        .content-wrapper.inner-modulo-page .modulo-infos .detalhes-wrapper .top-detalhes .w50 {
          width: 50%; }
          .content-wrapper.inner-modulo-page .modulo-infos .detalhes-wrapper .top-detalhes .w50:last-of-type {
            text-align: right;
            padding-top: 10rem; }
