body {
    margin: 0;
    font-family: $main-font;
    font-weight: 500;
}

.dale-btn {
    position: relative;
    cursor: pointer;

    &:before {
        @extend %bfaf;
        background-color: $dale-blue-shaddow;
        width: calc(100% - 1px);
        height: calc(100% + 16px);
        border: 2px solid $dale-black;
        top: -8px;
        left: 0;
    }
    &:hover {
        .btn-element {
            top: -6px;
            left: -6px;
        }
    }
    .btn-element {
        font-family: $main-font;
        font-weight: 500;
        text-transform: lowercase;
        text-decoration: none;
        font-size: 18px;
        background-color: $dale-blue;
        color: white;
        padding: 8px 15px;
        border: 2px solid $dale-black;
        position: relative;
        left: 0;
        top: 0;
        transition: all ease .3s;
    }
}

.content-wrapper {
    background-color: $dale-darkgray;

    .main-header {
        background-color: $dale-black;
        height: 15vh;
        display: flex;
        align-items: center;

        .logo-icon {
            height: 80px;
        }
    }

    .main-footer {
        background-color: $dale-blue;
        height: 32vh;
        display: flex;
        align-items: center;

        .logo-footer {
            width: 165px;
        }
        .social-wrapper {
            display: flex;
            flex-direction: column;

            .social-dupla {
                display: flex;
                width: 100%;

                .social-link {
                    width: 50%;

                    img {
                        width: 75px;
                    }
                }
            }
        }
        .instituicao-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .faac {
                // height: 90px;
                width: 180px;
            }
            .unesp {
                width: 200px;
            }
        }
        .dev-container {
            p {
                margin-bottom: 15px;
            }
            .dev-box {
                display: flex;
                align-items: center;
                border: 2px solid $dale-darkgray;
                padding: 5px 20px;
                margin-left: 4px;
                font-size: 22px;
                color: $dale-darkgray;
                transition: all 0.8s ease-in-out;

                &:hover, &:focus, &:active {
                    text-decoration: none;
                    background-color: white;
                    color: $dale-blue;
                    border-color: white;
                }
                .fa-github {
                    transition: transform 0.8s ease-in-out;
                    font-size: 36px;
                    margin-right: 8px;
                }
                span {
                    display: inline-block;
                }
                &:hover {
                    a {
                        color: #fff;
                    }
                    .fa-github {
                        transform: rotateY(360deg);
                    }
                }
            }
        }
    }

    &.relatorio {
        background-color: $dale-darkgray;

        .main-container {
            height: 53vh;
        }
        .book-page {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 30px 20px;

            &.capa {
                justify-content: center;
            }
            .citacao {
                font-size: 20px;
                position: relative;
                padding-left: 7rem;
                padding-right: 12rem;

                &:before {
                    @extend %bfaf;
                    content: '“';
                    top: -70px;
                    left: 6.5rem;
                    font-size: 100px;
                }
            }
            p {
                width: 100%;
                font-size: 12px;

                &:not(.title) {
                    padding-left: 7rem;
                    margin-bottom: 0;
                }
            }
        }
        .react-page-flip__book {
            height: 100% !important;

            .react-page-flip__book-wrapper-page-side  {
                display: flex;
                justify-content: center;
                align-items: center;
                background: white;
            }
        }
    }
    .main-container {
        min-height: 20vh;
        align-items: center;
        display: flex;
    }
}
