body {
    margin: 0;
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    overflow-x: hidden;
}

.dale-btn {
    position: relative;
    cursor: pointer;
    display: inline-flex;

    &:before {
        @extend %bfaf;
        background-color: $dale-blue-shaddow;
        // width: calc(100% - 1px);
        // height: calc(100% + 16px);
        width: 100%;
        height: 100%;
        border: 2px solid $dale-black;
        // top: -8px;
        top: 0;
        left: 0;
    }
    &:hover {
        .btn-element {
            top: -6px;
            left: -6px;
        }
    }
    .btn-element {
        font-family: $main-font;
        font-weight: 500;
        text-transform: lowercase;
        text-decoration: none;
        font-size: 18px;
        background-color: $dale-blue;
        color: white;
        padding: 8px 40px;
        border: 2px solid $dale-black;
        position: relative;
        left: 0;
        top: 0;
        transition: all ease .3s;
    }
}

.content-wrapper {
    background-color: $dale-darkgray;

    .main-header {
        background-color: rgba($dale-darkgray, 1);
        border-bottom: 1px solid white;
        height: 10vh;
        display: flex;
        align-items: center;
        // position: fixed;
        z-index: 1;
        width: 100%;
        padding: 15px 0;
        // position: relative;

        @include phone {
            height: auto;
        }
        .container {
            display: flex;
            align-items: center;
            height: 100%;

            > a {
                width: 15%;
            }
            > div {
                width: 85%;
            }
        }
        .logo-icon {
            height: 60px;

            @include desktop-1366 {
                height: 50px;
            }
        }
        .large-menu-classname {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            ul {
                list-style: none;
                margin-bottom: 0;
                display: flex;

                li {
                    margin: 0 10px;

                    &:last-of-type {
                        margin-right: 0;
                    }
                    a {
                        color: white;
                        text-transform: uppercase;
                        font-size: 16px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .main-footer {
        background-color: $dale-blue;
        height: 32vh;
        // height: 300px;
        display: flex;
        align-items: center;
        min-height: 280px;

        @include phone {
            height: auto;
        }
        .col-md-3 {
            @include phone {
                text-align: center;
            }
        }
        .logo-footer {
            width: 165px;
            margin: 0 auto;
        }
        .social-wrapper {
            display: flex;
            flex-direction: column;

            .social-dupla {
                display: flex;
                width: 100%;

                .social-link {
                    width: 50%;

                    img {
                        width: 75px;
                    }
                }
            }
        }
        .instituicao-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .faac {
                // height: 90px;
                width: 180px;
            }
            .unesp {
                width: 200px;
            }
        }
        .dev-container {
            p {
                margin-bottom: 15px;
            }
            .dev-box {
                display: flex;
                align-items: center;
                border: 2px solid $dale-darkgray;
                padding: 5px 20px;
                margin-left: 4px;
                font-size: 22px;
                color: $dale-darkgray;
                transition: all 0.8s ease-in-out;

                &:hover, &:focus, &:active {
                    text-decoration: none;
                    background-color: white;
                    color: $dale-blue;
                    border-color: white;
                }
                .fa-github {
                    transition: transform 0.8s ease-in-out;
                    font-size: 36px;
                    margin-right: 8px;
                }
                span {
                    display: inline-block;
                }
                &:hover {
                    a {
                        color: #fff;
                    }
                    .fa-github {
                        transform: rotateY(360deg);
                    }
                }
            }
        }
    }

    &.relatorio {
        background-color: $dale-darkgray;

        .main-container {
            height: 85vh;
            display: flex;
            // padding-top: 15vh;
        }
        .book-page {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 30px 40px;
            overflow-y: auto;

            &.capa {
                justify-content: center;
            }
            &.left {
                p {
                    &:not(.subtitle) {
                        padding-right: 7rem;
                        margin-bottom: 0;
                    }
                    &.title {
                        padding-right: 0;
                    }
                }
            }
            &.right {
                p {
                    &:not(.subtitle) {
                        padding-left: 7rem;
                        margin-bottom: 0;
                    }
                    &.title {
                        padding-left: 0;
                    }
                }
            }
            &.vertical-aligned {
                justify-content: center;
            }
            .firulinha {
                position: absolute;
                left: 0;
                bottom: 20px;
                width: 100%;
                color: inherit;
            }
            .citacao {
                font-size: 20px;
                position: relative;
                padding-left: 7rem;
                padding-right: 12rem;
                color: white;

                &:before {
                    @extend %bfaf;
                    content: '“';
                    top: -70px;
                    left: 6.5rem;
                    font-size: 100px;
                }
                &+ p {
                    color: white;
                }
            }
            .title {
                font-size: 3rem;
                display: flex;
                padding-left: 0;
                padding-right: 0;
                align-items: flex-end;
                color: inherit;
                line-height: 4rem;
                max-width: 90%;
                font-weight: 700;

                span {
                    font-size: 30rem;
                    line-height: 22rem;
                    font-weight: 500;
                }
            }
            p {
                width: 100%;
                // font-size: 12px;
                color: $dale-darkgray;

                &.subtitle {

                }
            }
        }
        .react-page-flip__book {
            width: 100% !important;
            height: 100% !important;

            .react-page-flip__book-wrapper-page-side  {
                display: flex;
                justify-content: center;
                align-items: center;
                background: white;
            }
        }
    }
    &.criador {
        .main-container {
            display: block;

            #goku {
                h2 {
                    margin: 0;
                    color: white;
                }
            }
        }
    }
    .main-container {
        display: inline-block;

        p {
            color: white;
            font-weight: 400;
        }
        .btn-wrapper {
            display: flex;
            justify-content: center;
        }
    }
    #slider {
        height: 78vh;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;

        video {
            position: relative;
            width: calc(100% + 30px);
            height: auto;
            left: -15px;
        }
    }
    #descricao {
        padding: 60px 0;
    }
    #dale {
        padding: 30px 0 60px;;

        h2 {
            color: $dale-darkgray;
            font-size: 8rem;

            span {
                color: $dale-red;
                font-size: 3.5rem;

                span {
                    color: $dale-darkgray;
                    margin: 0 5px;
                }
            }
        }
        p {
            color: $dale-darkgray;
            font-weight: 500;
            letter-spacing: -0.5px;

            span {
                color: $dale-blue;
            }
        }
    }
    #descubra {
        .col-md-4 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 15px;
            flex-direction: column;
        }
        .section-title {
            font-size: 28px;
            color: white;
            text-align: center;
            margin-bottom: 15px;
            line-height: 26px;
            font-weight: 400;

            span {
                font-size: 14px;
                display: block;
            }
        }
        img {
            height: 150px;
            margin-bottom: 15px;
        }
        p {
            min-height: 90px;
        }
    }
    #modulos {
        margin-bottom: 30px;

        .modulo-box {
            // width: 100%;
            height: 430px;

            &:hover {
                &#s7bl {
                    .inner-wrapper {
                        background-color: #662D37;

                        .box-title {
                            color: $dale-red;

                            &:after {
                                background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587308/7bl_banner_cor.png);
                            }
                        }
                    }
                }
                &#h2o2h {
                    .inner-wrapper {
                        background-color: #6D845E;

                        .box-title {
                            color: $dale-green;

                            &:after {
                                background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587081/h202h_banner_cor.png);
                            }
                        }
                    }
                }
                &#b2b {
                    .inner-wrapper {
                        background-color: #898227;

                        .box-title {
                            color: $dale-yellow;

                            &:after {
                                background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587307/b2b_banner_cor.png);
                            }
                        }
                    }
                }
                &#browns {
                    .inner-wrapper {
                        background-color: #326875;

                        .box-title {
                            color: $dale-blue;

                            &:after {
                                background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587133/brows_banner_cor.png);
                            }
                        }
                    }
                }
                .inner-wrapper {
                    .box-desc {
                        opacity: 1;
                    }
                }
            }
            &#s7bl {
                .inner-wrapper {
                    background-color: #F4A4AB;

                    .box-title {
                        width: 90px;
                        height: 60px;

                        &:after {
                            width: 90px;
                            height: 60px;
                            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587307/7bl_banner_cinza.png);
                        }
                    }
                }
            }
            &#h2o2h {
                .inner-wrapper {
                    background-color: #C9F9AA;

                    .box-title {
                        width: 160px;
                        height: 55px;

                        &:after {
                            width: 160px;
                            height: 55px;
                            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542586926/h202h_banner_cinza.png);
                        }
                    }
                }
            }
            &#b2b {
                .inner-wrapper {
                    background-color: #E2D571;

                    .box-title {
                        width: 90px;
                        height: 54px;

                        &:after {
                            width: 90px;
                            height: 54px;
                            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542587308/b2b_banner_cinza.png);
                        }
                    }
                }
            }
            &#browns {
                .inner-wrapper {
                    background-color: #C1E6F4;

                    .box-title {
                        width: 205px;
                        height: 45px;

                        &:after {
                            width: 215px;
                            height: 45px;
                            background-image: url(https://res.cloudinary.com/hugo-cicarelli/image/upload/v1542585710/brows_banner_cinza.png);
                        }
                    }
                }
            }
            .inner-wrapper {
                height: 100%;
                padding: 10px 15px;
                position: relative;
                transition: all ease 0.4s;
                overflow: hidden;

                .img-wrapper {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: -100px;
                    z-index: 0;

                    img {
                        transform: rotate(-45deg);
                        width: 420px;
                    }
                }
                .box-title {
                    position: absolute;
                    bottom: 10px;
                    right: 15px;
                    width: 130px;
                    height: 80px;

                    &:after {
                        @extend %bfaf;
                        width: 130px;
                        height: 70px;
                        top: 0;
                        left: 0;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: right;
                    }
                    p {
                        display: none;
                    }
                }
                .box-desc {
                    // display: none;
                    font-family: $main-font;
                    color: white;
                    width: 45%;
                    opacity: 0;
                    font-weight: 300;
                }
            }
        }
    }

    // PÁGINA DE MÓDULOS
    &.inner-modulo-page {
        overflow: hidden;

        .modulo-banner {
            width: 100vw;
            height: 40vh;
            display: flex;
            align-items: center;

            .modulo-modelo {
                position: absolute;
                transform: rotate(15deg);
                max-width: 165rem;
                right: -25rem;
                bottom: -20rem;

                @include desktop-1366 {
                    max-width: 138rem;
                    right: -22rem;
                    bottom: -14rem;
                }
            }
        }
        .modulo-infos {
            width: 100vw;
            padding: 40px 0 60px;

            p {
                // font-size: 2rem;
            }
            .destaque-wrapper {
                margin-bottom: 50rem;

                .frase-destaque {
                    font-size: 3rem;
                    max-width: 250px;
                }
            }
            .detalhes-wrapper {
                .top-detalhes {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-bottom: 80px;

                    .w50 {
                        width: 50%;

                        &:last-of-type {
                            text-align: right;
                            padding-top: 10rem;
                        }
                    }
                }
                .bottom-detalhes {

                }
            }
        }
    }
}
